.list-group-item{
    padding: 15px;
    border-width: 1px 0;
}
.list-group-item:first-child{
    border-radius: 0;
}
.my-list-group{
    padding-left: 20px;
}
.my-head{
    background-color: #9d9d9d;
    padding-top: 10px;
}
.my-middle{
    margin: 15px 0;
    color: black;
}
.my-middle-list {
    float: right;
    color: #9d9d9d;
    font-family: "Gill Sans MT";
    font-size: 12px;
}
.back-opacity {
    background-color:#9d9d9d;
    /*filter:Alpha(opacity=10);*/
}
/*div {font-family: "Kristen ITC";}*/
html, body {width:100%;height:100%;} /*非常重要的样式让背景图片100%适应整个屏幕*/
.bg {display: table;width: 100%;height: 100%;padding: 100px 0;text-align: center;color: #eeeeee;background: url(/img/img2.jpg) no-repeat bottom center;background-color: #eeeeee;background-size: cover;}
.my-navbar {padding:15px 0;transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;}
.my-navbar a{background:transparent !important;color:#fff !important}
.my-navbar a:hover {color:#45bcf9 !important;background:transparent;outline:0}
.my-navbar a {transition: color 0.5s ease-in-out;}/*-webkit-transition ;-moz-transition*/
.top-nav {
    /*padding:0;*/
    background:#ffffff;
}
button.navbar-toggle {background-color:#fbfbfb;}/*整个背景都是transparent透明的，会看不到，所以再次覆盖一下*/
button.navbar-toggle > span.icon-bar {background-color:#dedede}
