<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>竖店电影城</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!--<script src="/js/jquery/jquery-3.1.1.min.js"></script>-->
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<!--Main bootstrap-->
	<script src="/js/bootstrap/bootstrap.js"></script>
	<!--<script src="/js/bootstrap/build-core.js"></script>-->

	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/myStyle.css">
	<!--<link rel="stylesheet" href="//at.alicdn.com/t/font_1127497_kxq903opfr.css">-->
</head>
<body>
<nav class="navbar navbar-fixed-top my-navbar" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">菜鸟教程</a>
		</div>
	</div>
</nav>
<div class="bg"></div>
<script>
    $(window).scroll(function () {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav");
        }else {
            $(".navbar-fixed-top").removeClass("top-nav");
        }
    })
</script>
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 text-center">
			<div class="col-xs-4">热映影片</div>
			<div class="col-xs-4 my-middle-list">全部32部&nbsp;&nbsp;></div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<a style="height: 100px;width:50px;color:#555;">
				<img src="">
				<span>电影名称</span>
				<button>购买</button>
			</a>
		</div>
	</div>
</div>
<br /><br /><br /><br /><br /><br /><br /><p>闲蛋客</p>

<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<ul class="nav navbar-inner navbar-nav text-center">
			<li class="col-xs-4"><a href="/tms/index">首页</a></li>
			<li class="col-xs-4"><a href="/tms/market">商城</a></li>
			<li class="col-xs-4"><a href="/tms/personal">我的</a></li>
		</ul>
	</div>
</nav>
<!--Main angularJS script-->
<!--<script src="/js/angular/angular.js"></script>-->
<!--<script src="/js/angular/angular-animate.js"></script>-->
<!--<script src="/js/angular/angular-aria.js"></script>-->
<!--<script src="/js/angular/angular-cookies.js"></script>-->
<!--<script src="/js/angular/angular-loader.js"></script>-->
<!--<script src="/js/angular/angular-message-format.js"></script>-->
<!--<script src="/js/angular/angular-messages.js"></script>-->
<!--<script src="/js/angular/angular-mocks.js"></script>-->
<!--<script src="/js/angular/angular-parse-ext.js"></script>-->
<!--<script src="/js/angular/angular-resource.js"></script>-->
<!--<script src="/js/angular/angular-route.js"></script>-->
<!--<script src="/js/angular/angular-sanitize.js"></script>-->
<!--<script src="/js/angular/angular-scenario.js"></script>-->
<!--<script src="/js/angular/angular-touch.js"></script>-->
<!--<script src="/js/ui-router/angular-ui-router.min.js"></script>-->

<!--AngularJS App Script-->
<!--<script src="/js/app.js"></script>-->
<!--<script src="/js/config.js"></script>-->
<!--<script src="/js/controllers.js"></script>-->
<!--<script src="/js/directives.js"></script>-->
<!--<script src="/js/filter.js"></script>-->
<!--<script src="/js/service.js"></script>-->

<!--<script src="/js/controller/personal/personalCtrl.js"></script>-->


</body>
</html>
