<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>竖店电影城</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="stylesheet" href="/css/bootstrap-theme.css">
	<link rel="stylesheet" href="/css/myStyle.css">
	<!--<link rel="stylesheet" href="//at.alicdn.com/t/font_1127497_kxq903opfr.css">-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
		<ul class="nav navbar-inner navbar-nav text-center">
			<li class="col-xs-4"><a href="/tms/index">首页</a></li>
			<li class="col-xs-4"><a href="/tms/market">商城</a></li>
			<li class="col-xs-4"><a href="/tms/personal">我的</a></li>
		</ul>
	</div>
</nav>
<!--<script src="/js/jquery/jquery-3.1.1.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>

<!--Main bootstrap-->
<script src="/js/bootstrap/bootstrap.js"></script>
</body>
</html>
